.todo {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 60% auto auto;

    background-color: white;
    border-radius: 15px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
    margin: 0.7rem;
    padding: 0.7rem;
    font-size: 1.5em;

}

.btn {
    margin: 0.5em;
    padding: 0.3em 0.5em;
    background-color: rgba(29, 146, 244, 0);
    color: #1d91f3;
    border: 2px solid #1d92f4;
    border-radius: 25px;
    font-size: 0.7em;
    font-weight: bold;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}

.btn:hover {
    transition: 0.5s;
    background-color: #1d91f3;
    color: white;
}

.input1 {
    margin: 0.3em;
    border: none;
    font-size: 1rem;
    color: #4b4b4b;
}
.input2 {
    margin: 0.3em;
    border: none;
    font-size: 1rem;
    text-decoration: line-through;
    color: #4b4b4b;
}
.header1 {
    margin: 0.3em;
    border: none;
    font-size: 1.5rem;
    max-width: 100%;
}
.header2 {
    margin: 0.3em;
    border: none;
    font-size: 1.5rem;
    text-decoration: line-through;
    max-width: 100%;

}
.inputs{
    display: flex;
    flex-direction: column;
    align-items: start;

}

@media screen and (max-width: 500px) {
    .todo {
        padding: 5px 0 5px 5px;
        margin: 10px 0;
        grid-template-columns: 50vw auto auto;
    }
    i {
        font-size: 0.7em;
    }
    .btn {
        padding: 2px 6px;
        margin: 5px;
    }
}

